LOTUS_AI_AUDIT_STORE_MODE=sqlalchemy
LOTUS_AI_PROMPT_STORE_MODE=sqlalchemy
LOTUS_AI_RETRIEVAL_STORE_MODE=sqlalchemy
LOTUS_AI_ACCESS_CONTROL_STORE_MODE=sqlalchemy
LOTUS_AI_WORKFLOW_PACK_REGISTRY_STORE_MODE=sqlalchemy
LOTUS_AI_PROVIDER_OPERATIONS_STORE_MODE=sqlalchemy
LOTUS_AI_ASYNC_RUNTIME_STORE_MODE=sqlalchemy
LOTUS_AI_WORKFLOW_PACK_RUN_STORE_MODE=sqlalchemy
LOTUS_AI_WORKFLOW_PACK_TASK_FLOW_STORE_MODE=sqlalchemy
LOTUS_AI_WORKFLOW_PACK_QUEUE_EVENT_STORE_MODE=sqlalchemy
LOTUS_AI_EVALUATION_RUNTIME_STORE_MODE=sqlalchemy
LOTUS_AI_ARTIFACT_STORE_MODE=sqlalchemy
LOTUS_AI_ARTIFACT_OBJECT_STORE_MODE=filesystem
LOTUS_AI_ARTIFACT_OBJECT_STORE_ROOT=/data/object-store
LOTUS_AI_SECRET_SOURCE_MODE=local_or_unspecified
LOTUS_AI_STARTUP_READINESS_POLICY=warn
LOTUS_AI_READINESS_PROBE_POLICY=observe
LOTUS_AI_LOCAL_HEADER_CALLER_IDENTITY_ENABLED=true
LOTUS_AI_DATABASE_URL=postgresql+psycopg://lotus:lotus@postgres:5432/lotus_ai
LOTUS_AI_PROVIDER_MODE=stub
LOTUS_AI_PROVIDER_ROLLOUT_STATE=STUB_DEFAULT
LOTUS_AI_RETRIEVAL_MODE=disabled
LOTUS_AI_EMBEDDING_PROVIDER_MODE=disabled
LOTUS_AI_ASYNC_CUTOVER_STATE=dedicated_workers_active
LOTUS_AI_ASYNC_QUEUE_BACKEND_MODE=redis
LOTUS_AI_ASYNC_QUEUE_REDIS_URL=redis://redis:6379/0
